@page
@model IndexModel
@{
    ViewData["Title"] = "Billy or Bob";
}

<div class="text-center">
    <h1 class="display-4">"Billy or Bob"</h1>
    Enter your text, and if you'd like, change some of the options (particularly if you want to remove the test data from the reference set) and give it a go!
    <form method="post" action="#" asp-antiforgery="true">
        <div class="form-group">
            <label for="testTextInput">Enter your text to be tested</label>
            <textarea class="form-control" id="testTextInput" name="testTextInput" placeholder="Fair is foul and foul is fair...">@Model.TextToTest</textarea>
        </div>

        <h3>Options</h3>
        <div class="form-group">
            <label for="optionShakespeareExclude">Exclude the following texts from the Shakespeare corpus</label>
            <select class="activate-multiselect" id="optionShakespeareExclude" name="optionShakespeareExclude" multiple="multiple">
                @foreach (var filename in Model.ShakespeareFiles)
                {
                    @if (Model.ShakespeareExclude.Contains(filename))
                    {
                        <option value="@filename" selected>@filename</option>
                    }
                    else
                    {
                        <option value="@filename">@filename</option>
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <label for="optionBurnsExclude">Exclude the following texts from the Burns corpus</label>
            <select class="activate-multiselect" id="optionBurnsExclude" name="optionBurnsExclude" multiple="multiple">
                @foreach (var filename in Model.BurnsFiles)
                {
                    @if (Model.BurnsExclude.Contains(filename))
                    {
                        <option value="@filename" selected>@filename</option>
                    }
                    else
                    {
                        <option value="@filename">@filename</option>
                    }
                }
            </select>
        </div>
        <div class="form-group">
            <label for="optionClassifier">Choose which classifier to use</label>
            <select id="optionClassifier" name="optionClassifier">
                <option value="frequency">Frequency (who uses these words the most)</option>
                <option value="trivial">Trivial (checks for one scottish word)</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary">Test</button>
    </form>


</div>
    @if (Model.result != null) {
        {<div class="alert alert-primary mt-3">@Model.result</div>}
    }
